<!DOCTYPE html>
<html ng-app="SampleApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jumbular</title>

    <!-- Bootstrap -->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
 <script>
   var app = angular.module("SampleApp",[]);
  
  app.controller("SampleAppCtrl", function ($scope){
  $scope.items = [{ name: "Item 1", value: "Value 1", propety1:"Test Val 1"},
  { name: "Item 2", value: "Value 2", propety1:"Test Val 2" },
  { name: "Item 3", value: "Value 3", propety1:"Test Val 3"}];
  });
</script>
  </head>
 <body>
  <div ng-controller="SampleAppCtrl">
  <h3 class="panel-header">List</h3>
  <p ng-repeat="item in items">
    <span ng-repeat="property in item">{{property}},</span>
    <!--   <span ng-repeat="(key,value) in item">{{key}} = {{value}},</span>-->
  </p>
  </div>

     <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
     
		<script src="js/bootstrap.js"></script>
  </body>
</html>